.hero {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__content {
    position: relative;
    display: flex;
    margin: 0;
    text-align: center;
    max-width: 808px;
    transform: translate(-5px,-8px);
}


.hero_icon {
    position: absolute;
}

.icon_arrow {
    left: -15px;
    bottom: -45px;
}

.icon_strokes {
    right: -20px;
    top: -18px;
}